.query-button {
    display: block;
    margin: 4% auto;
    background-color: #dd2c00;
    color: white;
    padding: 12px 48px;
    border: none;
    border-radius: 14px;
    font-weight: bold;
}

div.col-11 h5.plate-query-modal-title {
    text-align: right;
}

div.row div.plate-query-modal-footer {
    display: block;
    margin: auto;
}

label.plate-query-form-label {
    display: block;
    text-align: right;
    direction: rtl;
}

input.plate-query-form-input {
    direction: rtl;
    text-align: center;
}


select.plate-query-form-select {
    direction: rtl;
    text-align: center;
    align-items: center;
}