.query-button {
    display: block;
    margin: 4% auto;
    background-color: #dd2c00;
    color: white;
    padding: 12px 48px;
    border: none;
    border-radius: 14px;
    font-weight: bold;
}

[class*="query-modal-title"] {
    text-align: right;
}

[class*="query-modal-footer"] {
    display: block;
    margin: auto;
}

[class*="query-form-label"] {
    display: block;
    text-align: right;
    direction: rtl;
}


[class*="query-form-label"] {
    direction: rtl;
    text-align: center;
}

[class*="query-form-label"] {
    direction: rtl;
    text-align: center;
    align-items: center;
}