label.road-card-label {
    display: block;
    text-align: center;
}

a {
  color: white;
}

a:hover{
    color: white;
}

button.card-button {
    display: block;
    margin: 4% auto;
    background-color: #dd2c00;
    color: white;
    padding: 12px 48px;
    border: none;
    border-radius: 14px;
    font-weight: bold;
}

div.container.road-card-container {
    /*float: left;*/
    width: 30%
}


@media screen and (max-width: 1200px){
    div.container.road-card-container {
        /*float: left;*/
        width: 40%;
        display: inline-block;
    }
}

@media screen and (max-width: 1000px){
    div.container.road-card-container {
        /*float: left;*/
        width: 70%;
        display: inline-block;
    }
}

@media screen and (max-width: 600px){
    div.container.road-card-container {
        /*float: left;*/
        width: 100%;
        display: inline-block;

    }
}


